root = true

[*]
charset = utf-8
end_of_line = lf
max_line_length = 140
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[*.{kt,kts}]
disabled_rules = import-ordering, no-wildcard-imports
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

[*.{yaml,yml}]
indent_size = 2
tab_width = 2
